@font-face {
    font-weight: 400;
    font-family: "CanyonWeb";
    font-style: normal;
    src:
      url("https://dschubertCanyon.github.io/OnlineFonts/Canyontext-Light.woff2") format("woff2"),
      url("https://dschubertCanyon.github.io/OnlineFonts/Canyontext-Light.woff") format("woff");
    font-display: swap;
  }
