@font-face {
    font-weight: 400;
    font-family: "SAPICON";
    font-style: normal;
    src:
      url("https://dschubertCanyon.github.io/OnlineFonts/SAP-icons_horizon.woff2") format("woff2"),
      url("https://dschubertCanyon.github.io/OnlineFonts/SAP-icons_horizon.woff") format("woff");
    font-display: swap;
  }